#############################################################
#
# SCSS snippets
#
#############################################################

snippet @im
	@import '$1';
	$0

snippet @in
	@include $1;
	$0


